In [17]:
# Import packages 
import numpy as np
import pandas as pd
import sys
import math

# Demographics of Clients at UMD

In [18]:
client = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/CLIENT_191102.tsv", sep="\t")
client.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [19]:
# Check the original column names and change to neater version
for col in client.columns: 
    print(col) 
    
client.columns = ['provider','EUID','CUID', 'ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']

EE Provider ID
EE UID
Client Unique ID
Client ID
Client Age at Entry
Client Age at Exit
Client Gender
Client Primary Race
Client Ethnicity
Client Veteran Status

In [20]:
# Filter the variables of interest
client2 = client[['ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']]

In [21]:
# Checking Missingness
## Generate the number of missing values in the demographic variables
nullvals =  ["" for x in range(len(client2.columns))]
nullvals = pd.DataFrame(nullvals).T
nullvals.columns = client2.columns

for col in client2.columns:
    nullval = client2[col].isnull()
    nullvals[col] = sum(nullval)
    
print(nullvals)

   ClientID  AgeEntry  AgeExit  Gender  Race  Ethnicity  Veteran
0         0         3        3       3     3          3       10

In [22]:
client2 = client2.dropna()

In [24]:
# function for unique values
def unique(list1): 
      
    # insert the list to the set 
    list_set = set(list1) 
    # convert the set to the list 
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print(x)

In [25]:
# unique values of categorical variables
cat = ['Gender', 'Race', 'Ethnicity', 'Veteran']

unique(client2[cat[0]])
print()
unique(client2[cat[1]])
print()
unique(client2[cat[2]])
print()
unique(client2[cat[3]])

#for col in cat:
#    ls = list(unique(client2[col]))
#    unqlist.append(ls)

Trans Female (MTF or Male to Female)
Female
Male

American Indian or Alaska Native (HUD)
Client doesn't know (HUD)
Asian (HUD)
Client refused (HUD)
White (HUD)
Black or African American (HUD)
Data not collected (HUD)
Native Hawaiian or Other Pacific Islander (HUD)

Client doesn't know (HUD)
Client refused (HUD)
Data not collected (HUD)
Hispanic/Latino (HUD)
Non-Hispanic/Non-Latino (HUD)

Yes (HUD)
No (HUD)
Data not collected (HUD)

### 1. Age Demographics (Entry)

In [26]:
round(client2.AgeEntry.mean(),1) # average entry age

44.2

In [27]:
client2.AgeEntry.min() # minimum entry age

18.0

In [28]:
client2.AgeEntry.median() # median entry age

46.0

In [29]:
client2.AgeEntry.max() # maximum entry age

81.0

In [30]:
round(client2.AgeEntry.std(),1) # standard deviation of entry age

12.8

### 2. Age Demographics (Exit)

In [31]:
round(client2.AgeExit.mean(),1) # average entry age

44.4

In [32]:
client2.AgeExit.min() # minimum exit age

18.0

In [33]:
client2.AgeExit.max() # minimum exit age

81.0

In [34]:
round(client2.AgeExit.std(),1) # standard deviation of exit age

12.8

### 3. Gender Demographics

In [35]:
client2['Gender'].value_counts()

Male                                    3981
Female                                  1288
Trans Female (MTF or Male to Female)      17
Name: Gender, dtype: int64

### 4. Race Demographics

In [36]:
client2['Race'].value_counts()

Black or African American (HUD)                    3856
White (HUD)                                        1311
American Indian or Alaska Native (HUD)               90
Native Hawaiian or Other Pacific Islander (HUD)      11
Data not collected (HUD)                              6
Client refused (HUD)                                  5
Client doesn't know (HUD)                             4
Asian (HUD)                                           3
Name: Race, dtype: int64

### 5. Ethnicity Demographics

In [37]:
client2['Ethnicity'].value_counts()

Non-Hispanic/Non-Latino (HUD)    5065
Hispanic/Latino (HUD)             191
Data not collected (HUD)           13
Client doesn't know (HUD)           9
Client refused (HUD)                8
Name: Ethnicity, dtype: int64

### 6. Veteran Demographics

In [38]:
client2["Veteran"].value_counts()

No (HUD)                    4721
Yes (HUD)                    558
Data not collected (HUD)       7
Name: Veteran, dtype: int64

# Income Dataset

In [39]:
incomeEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_ENTRY_191102.tsv", sep='\t')

In [40]:
# Check the original column names and change to neater version
for col in incomeEntry.columns: 
    print(col) 
    
incomeEntry.columns = ['provider','EUID','CUID', 'ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry','IncomeEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Income (Entry)
Income Source (Entry)
Monthly Amount (Entry)
Income Start Date (Entry)
Income End Date (Entry)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [41]:
# Filter the variables of interest
incomeEntry2 = incomeEntry[['ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry', 'IncomeEndDateEntry']]

In [50]:
incomeEntry2

,ClientID,IncomeEntry,IncomeSourceEntry,MonthlyIncomeEntry,IncomeStartDateEntry,IncomeEndDateEntry
0,397941,No,Alimony or Other Spousal Support (HUD),NaN,4/20/2015,NaN
1,397941,No,Child Support (HUD),NaN,4/20/2015,NaN
2,397941,No,Earned Income (HUD),NaN,4/20/2015,NaN
3,397941,No,General Assistance (HUD),NaN,4/20/2015,NaN
4,397941,No,Other (HUD),NaN,4/20/2015,NaN
5,397941,No,Pension or retirement income from another job ...,NaN,4/20/2015,NaN
6,397941,No,Private Disability Insurance (HUD),NaN,4/20/2015,NaN
7,397941,No,Retirement Income From Social Security (HUD),NaN,4/20/2015,NaN
8,397941,No,SSDI (HUD),NaN,4/20/2015,NaN
9,397941,No,SSI (HUD),NaN,4/20/2015,NaN
10,397941,No,TANF (HUD),NaN,4/20/2015,NaN
11,397941,No,Unemployment Insurance (HUD),NaN,4/20/2015,NaN
12,397941,No,VA Non-Service Connected Disability Pension (HUD),NaN,4/20/2015,NaN
13,397941,No,VA Service Connected Disability Compensation (...,NaN,4/20/2015,NaN
14,397941,No,Worker's Compensation (HUD),NaN,4/20/2015,NaN
15,130335,No,Alimony or Other Spousal Support (HUD),NaN,6/13/2015,NaN
16,130335,No,Alimony or Other Spousal Support (HUD),NaN,7/10/2015,NaN
17,130335,No,Child Support (HUD),NaN,6/13/2015,NaN
18,130335,No,Child Support (HUD),NaN,7/10/2015,NaN
19,130335,No,Earned Income (HUD),NaN,6/13/2015,NaN
20,130335,No,Earned Income (HUD),NaN,7/10/2015,NaN
21,130335,No,General Assistance (HUD),NaN,6/13/2015,NaN
22,130335,No,General Assistance (HUD),NaN,7/10/2015,NaN
23,130335,No,Other (HUD),NaN,6/13/2015,NaN
24,130335,No,Other (HUD),NaN,7/10/2015,NaN
25,130335,No,Pension or retirement income from another job ...,NaN,6/13/2015,NaN
26,130335,No,Pension or retirement income from another job ...,NaN,7/10/2015,NaN
27,130335,No,Private Disability Insurance (HUD),NaN,6/13/2015,NaN
28,130335,No,Private Disability Insurance (HUD),NaN,7/10/2015,NaN
29,130335,No,Retirement Income From Social Security (HUD),NaN,6/13/2015,NaN
...,...,...,...,...,...,...
76544,401495,No,Alimony or Other Spousal Support (HUD),NaN,6/3/2015,NaN
76545,401495,No,Child Support (HUD),NaN,6/3/2015,NaN
76546,401495,No,General Assistance (HUD),NaN,6/3/2015,NaN
76547,401495,No,Other (HUD),NaN,6/3/2015,NaN
76548,401495,No,Pension or retirement income from another job ...,NaN,6/3/2015,NaN
76549,401495,No,Private Disability Insurance (HUD),NaN,6/3/2015,NaN
76550,401495,No,Retirement Income From Social Security (HUD),NaN,6/3/2015,NaN
76551,401495,No,SSDI (HUD),NaN,6/3/2015,NaN
76552,401495,No,SSI (HUD),NaN,6/3/2015,NaN
76553,401495,No,TANF (HUD),NaN,6/3/2015,NaN
76554,401495,No,Unemployment Insurance (HUD),NaN,6/3/2015,NaN
76555,401495,No,VA Non-Service Connected Disability Pension (HUD),NaN,6/3/2015,NaN
76556,401495,No,VA Service Connected Disability Compensation (...,NaN,6/3/2015,NaN
76557,401495,No,Worker's Compensation (HUD),NaN,6/3/2015,NaN
76558,401495,Yes,Earned Income (HUD),1500.0,6/3/2015,NaN
76559,403361,No,Alimony or Other Spousal Support (HUD),NaN,6/27/2015,NaN
76560,403361,No,Child Support (HUD),NaN,6/27/2015,NaN
76561,403361,No,Earned Income (HUD),NaN,6/27/2015,NaN
76562,403361,No,General Assistance (HUD),NaN,6/27/2015,NaN
76563,403361,No,Other (HUD),NaN,6/27/2015,NaN
76564,403361,No,Pension or retirement income from another job ...,NaN,6/27/2015,NaN
76565,403361,No,Private Disability Insurance (HUD),NaN,6/27/2015,NaN
76566,403361,No,Retirement Income From Social Security (HUD),NaN,6/27/2015,NaN
76567,403361,No,SSDI (HUD),NaN,6/27/2015,NaN
76568,403361,No,SSI (HUD),NaN,6/27/2015,NaN
76569,403361,No,TANF (HUD),NaN,6/27/2015,NaN
76570,403361,No,Unemployment Insurance (HUD),NaN,6/27/2015,NaN
76571,403361,No,VA Non-Service Connected Disability Pension (HUD),NaN,6/27/2015,NaN
76572,403361,No,VA Service Connected Disability Compensation (...,NaN,6/27/2015,NaN
76573,403361,No,Worker's Compensation (HUD),NaN,6/27/2015,NaN

In [42]:
incomeExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_EXIT_191102.tsv", sep='\t')

In [43]:
# Check the original column names and change to neater version
for col in incomeExit.columns: 
    print(col) 
    
incomeExit.columns = ['provider','EUID','CUID', 'ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit','IncomeEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
ReceivingIncome (Exit)
Source of Income (Exit)
Monthly Amount (Exit)
Income Start Date (Exit)
Income End Date (Exit)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [44]:
# Filter the variables of interest
incomeExit2 = incomeExit[['ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit', 'IncomeEndDateExit']]

# Health Insurance Data

In [45]:
# Health Insurnace Entry data
HIEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_ENTRY_191102.tsv", sep='\t')

In [46]:
# Check the original column names and change to neater version
for col in HIEntry.columns: 
    print(col) 
    
HIEntry.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry','provider', 'recordsetid', 'dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Entry)
Health Insurance Type (Entry)
Health Insurance Start Date (Entry)
Health Insurance End Date (Entry)
Provider (4307-provider)
Recordset ID (4307-recordset_id)
Date Added (4307-date_added)

In [47]:
# Filter the variables of interest
HIEntry2 = HIEntry[['ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry']]

In [32]:
#Health Insurance Exit data
HIExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_EXIT_191102.tsv", sep='\t')

In [33]:
# Check the original column names and change to neater version
for col in HIExit.columns: 
    print(col) 
    
HIExit.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit', 'recordsetid', 'provider','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Exit)
Health Insurance Type (Exit)
Health Insurance Start Date (Exit)
Health Insurance End Date (Exit)
Recordset ID (4307-recordset_id)
Provider (4307-provider)
Date Added (4307-date_added)

In [34]:
# Filter the variables of interest
HIExit2 = HIExit[['ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit']]

# Disability Data

In [35]:
# Disability Entry data
DisEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_ENTRY_191102.tsv", sep='\t')

In [36]:
# Check the original column names and change to neater version
for col in DisEntry.columns: 
    print(col) 
    
DisEntry.columns = ['provider','EUID','CUID', 'ClientID','DisabilityEntry', 'DisabilityTypeEntry', 'DisabilityStartDateEntry','DisabilityEndDateEntry', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Entry)
Disability Type (Entry)
Disability Start Date (Entry)
Disability End Date (Entry)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [37]:
DisEntry2 = DisEntry[['ClientID','DisabilityEntry','DisabilityStartDateEntry','DisabilityEndDateEntry']]

In [38]:
# Disability Entry data
DisExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_EXIT_191102.tsv", sep='\t')

In [39]:
# Check the original column names and change to neater version
for col in DisExit.columns: 
    print(col) 
    
DisExit.columns = ['provider','EUID','CUID', 'ClientID','DisabilityExit', 'DisabilityTypeExit', 'DisabilityStartDateExit','DisabilityEndDateExit', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Exit)
Disability Type (Exit)
Disability Start Date (Exit)
Disability End Date (Exit)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [40]:
DisExit2 = DisExit[['ClientID','DisabilityExit','DisabilityStartDateExit','DisabilityEndDateExit']]

# Merge Datasets

In [41]:
final_dat = client2.merge(incomeEntry2, on=['ClientID'], how='left')

In [42]:
final_dat = final_dat.merge(incomeExit2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(HIEntry2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(HIExit2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(DisEntry2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(DisExit2, on=['ClientID'], how='left')
df.to_csv(out_file_name)