In [52]:
# Import packages 
import numpy as np
import pandas as pd
import sys
import math

# Demographics of Clients at UMD

In [53]:
client = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/CLIENT_191102.tsv", sep="\t")
client.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [54]:
# Check the original column names and change to neater version
for col in client.columns: 
    print(col) 
    
client.columns = ['provider','EUID','CUID', 'ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']

EE Provider ID
EE UID
Client Unique ID
Client ID
Client Age at Entry
Client Age at Exit
Client Gender
Client Primary Race
Client Ethnicity
Client Veteran Status

In [55]:
# Filter the variables of interest
client2 = client[['ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']]

In [56]:
# Checking Missingness
## Generate the number of missing values in the demographic variables
nullvals =  ["" for x in range(len(client2.columns))]
nullvals = pd.DataFrame(nullvals).T
nullvals.columns = client2.columns

for col in client2.columns:
    nullval = client2[col].isnull()
    nullvals[col] = sum(nullval)
    
print(nullvals)

   ClientID  AgeEntry  AgeExit  Gender  Race  Ethnicity  Veteran
0         0         3        3       3     3          3       10

In [57]:
client2 = client2.dropna()

In [58]:
# function for unique values
def unique(list1): 
      
    # insert the list to the set 
    list_set = set(list1) 
    # convert the set to the list 
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print(x)

In [59]:
# unique values of categorical variables
cat = ['Gender', 'Race', 'Ethnicity', 'Veteran']

unique(client2[cat[0]])
print()
unique(client2[cat[1]])
print()
unique(client2[cat[2]])
print()
unique(client2[cat[3]])

#for col in cat:
#    ls = list(unique(client2[col]))
#    unqlist.append(ls)

Trans Female (MTF or Male to Female)
Female
Male

American Indian or Alaska Native (HUD)
Client doesn't know (HUD)
Asian (HUD)
Client refused (HUD)
White (HUD)
Black or African American (HUD)
Data not collected (HUD)
Native Hawaiian or Other Pacific Islander (HUD)

Client doesn't know (HUD)
Client refused (HUD)
Data not collected (HUD)
Hispanic/Latino (HUD)
Non-Hispanic/Non-Latino (HUD)

Yes (HUD)
No (HUD)
Data not collected (HUD)

### 1. Age Demographics (Entry)

In [60]:
round(client2.AgeEntry.mean(),1) # average entry age

44.2

In [61]:
client2.AgeEntry.min() # minimum entry age

18.0

In [62]:
client2.AgeEntry.median() # median entry age

46.0

In [63]:
client2.AgeEntry.max() # maximum entry age

81.0

In [64]:
round(client2.AgeEntry.std(),1) # standard deviation of entry age

12.8

### 2. Age Demographics (Exit)

In [65]:
round(client2.AgeExit.mean(),1) # average entry age

44.4

In [66]:
client2.AgeExit.min() # minimum exit age

18.0

In [67]:
client2.AgeExit.max() # minimum exit age

81.0

In [68]:
round(client2.AgeExit.std(),1) # standard deviation of exit age

12.8

### 3. Gender Demographics

In [69]:
client2['Gender'].value_counts()

Male                                    3981
Female                                  1288
Trans Female (MTF or Male to Female)      17
Name: Gender, dtype: int64

### 4. Race Demographics

In [70]:
client2['Race'].value_counts()

Black or African American (HUD)                    3856
White (HUD)                                        1311
American Indian or Alaska Native (HUD)               90
Native Hawaiian or Other Pacific Islander (HUD)      11
Data not collected (HUD)                              6
Client refused (HUD)                                  5
Client doesn't know (HUD)                             4
Asian (HUD)                                           3
Name: Race, dtype: int64

### 5. Ethnicity Demographics

In [71]:
client2['Ethnicity'].value_counts()

Non-Hispanic/Non-Latino (HUD)    5065
Hispanic/Latino (HUD)             191
Data not collected (HUD)           13
Client doesn't know (HUD)           9
Client refused (HUD)                8
Name: Ethnicity, dtype: int64

### 6. Veteran Demographics

In [72]:
client2["Veteran"].value_counts()

No (HUD)                    4721
Yes (HUD)                    558
Data not collected (HUD)       7
Name: Veteran, dtype: int64

# Income Dataset

In [73]:
incomeEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_ENTRY_191102.tsv", sep='\t')

In [74]:
# Check the original column names and change to neater version
for col in incomeEntry.columns: 
    print(col) 
    
incomeEntry.columns = ['provider','EUID','CUID', 'ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry','IncomeEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Income (Entry)
Income Source (Entry)
Monthly Amount (Entry)
Income Start Date (Entry)
Income End Date (Entry)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [116]:
# Filter the variables of interest
incomeEntry2 = incomeEntry[['ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry', 'IncomeEndDateEntry']]
incomeEntry2.head()

,ClientID,IncomeEntry,IncomeSourceEntry,MonthlyIncomeEntry,IncomeStartDateEntry,IncomeEndDateEntry
0,397941,No,Alimony or Other Spousal Support (HUD),NaN,4/20/2015,NaN
1,397941,No,Child Support (HUD),NaN,4/20/2015,NaN
2,397941,No,Earned Income (HUD),NaN,4/20/2015,NaN
3,397941,No,General Assistance (HUD),NaN,4/20/2015,NaN
4,397941,No,Other (HUD),NaN,4/20/2015,NaN

In [171]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeEntry2.columns)
clientID = set(incomeEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeEntry2[incomeEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeEntry2 = temp

In [132]:
# Income Exit
incomeExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_EXIT_191102.tsv", sep='\t')

In [133]:
# Check the original column names and change to neater version
for col in incomeExit.columns: 
    print(col) 
    
incomeExit.columns = ['provider','EUID','CUID', 'ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit','IncomeEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
ReceivingIncome (Exit)
Source of Income (Exit)
Monthly Amount (Exit)
Income Start Date (Exit)
Income End Date (Exit)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [134]:
# Filter the variables of interest
incomeExit2 = incomeExit[['ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit', 'IncomeEndDateExit']]

In [175]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeExit2.columns)
clientID = set(incomeExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeExit2[incomeExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeExit2 = temp

# Health Insurance Data

In [135]:
# Health Insurnace Entry data
HIEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_ENTRY_191102.tsv", sep='\t')

In [136]:
# Check the original column names and change to neater version
for col in HIEntry.columns: 
    print(col) 
    
HIEntry.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry','provider', 'recordsetid', 'dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Entry)
Health Insurance Type (Entry)
Health Insurance Start Date (Entry)
Health Insurance End Date (Entry)
Provider (4307-provider)
Recordset ID (4307-recordset_id)
Date Added (4307-date_added)

In [176]:
# Filter the variables of interest
HIEntry2 = HIEntry[['ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry']]

,ClientID,HIcoveredEntry,HItypeEntry,HIstartDateEntry,HIendDateEntry
0,397941,No,Employer - Provided Health Insurance,4/20/2015,NaN
1,397941,No,Health Insurance obtained through COBRA,4/20/2015,NaN
2,397941,No,Indian Health Services Program,6/9/2015,NaN
3,397941,No,MEDICAID,4/20/2014,NaN
4,397941,No,MEDICARE,4/20/2015,NaN
5,397941,No,Other,6/9/2015,NaN
6,397941,No,Private Pay Health Insurance,4/20/2015,NaN
7,397941,No,State Children's Health Insurance Program,4/20/2015,NaN
8,397941,No,State Health Insurance for Adults,4/20/2015,NaN
9,397941,No,Veteran's Administration (VA) Medical Services,4/20/2015,NaN
10,130335,No,Employer - Provided Health Insurance,6/13/2015,NaN
11,130335,No,Employer - Provided Health Insurance,7/10/2015,NaN
12,130335,No,Health Insurance obtained through COBRA,6/13/2015,NaN
13,130335,No,Health Insurance obtained through COBRA,7/10/2015,NaN
14,130335,No,MEDICARE,6/13/2015,NaN
15,130335,No,MEDICARE,7/10/2015,NaN
16,130335,No,Private Pay Health Insurance,6/13/2015,NaN
17,130335,No,Private Pay Health Insurance,7/10/2015,NaN
18,130335,No,State Children's Health Insurance Program,6/13/2015,NaN
19,130335,No,State Children's Health Insurance Program,7/10/2015,NaN
20,130335,No,State Health Insurance for Adults,6/13/2015,NaN
21,130335,No,State Health Insurance for Adults,7/10/2015,NaN
22,130335,No,Veteran's Administration (VA) Medical Services,6/13/2015,NaN
23,130335,No,Veteran's Administration (VA) Medical Services,7/10/2015,NaN
24,130335,Yes,MEDICAID,6/13/2015,NaN
25,188933,No,Employer - Provided Health Insurance,3/28/2014,NaN
26,188933,No,Employer - Provided Health Insurance,8/15/2015,NaN
27,188933,No,Health Insurance obtained through COBRA,3/28/2014,NaN
28,188933,No,Health Insurance obtained through COBRA,8/15/2015,NaN
29,188933,No,MEDICAID,3/28/2014,NaN
...,...,...,...,...,...
45152,370291,No,MEDICARE,4/4/2015,NaN
45153,370291,No,Private Pay Health Insurance,4/4/2015,NaN
45154,370291,No,State Children's Health Insurance Program,4/4/2015,NaN
45155,370291,No,State Health Insurance for Adults,4/4/2015,NaN
45156,370291,Yes,Veteran's Administration (VA) Medical Services,4/4/2015,NaN
45157,175198,No,Employer - Provided Health Insurance,9/22/2014,NaN
45158,175198,No,Health Insurance obtained through COBRA,9/22/2014,NaN
45159,175198,No,MEDICAID,9/22/2014,NaN
45160,175198,No,MEDICARE,9/22/2014,NaN
45161,175198,No,Private Pay Health Insurance,9/22/2014,NaN
45162,175198,No,State Children's Health Insurance Program,9/22/2014,NaN
45163,175198,No,State Health Insurance for Adults,9/22/2014,NaN
45164,175198,Yes,Veteran's Administration (VA) Medical Services,9/22/2014,NaN
45165,175198,Yes,Veteran's Administration (VA) Medical Services,5/11/2015,NaN
45166,401978,No,Employer - Provided Health Insurance,6/16/2015,NaN
45167,401978,No,Health Insurance obtained through COBRA,6/16/2015,NaN
45168,401978,No,MEDICAID,6/16/2015,NaN
45169,401978,No,MEDICARE,6/16/2015,NaN
45170,401978,No,Private Pay Health Insurance,6/16/2015,NaN
45171,401978,No,State Children's Health Insurance Program,6/16/2015,NaN
45172,401978,Yes,State Health Insurance for Adults,6/16/1983,NaN
45173,401978,Yes,Veteran's Administration (VA) Medical Services,6/16/1983,NaN
45174,401495,No,Employer - Provided Health Insurance,6/3/2015,NaN
45175,401495,No,Health Insurance obtained through COBRA,6/3/2015,NaN
45176,401495,No,MEDICAID,6/3/2015,NaN
45177,401495,No,MEDICARE,6/3/2015,NaN
45178,401495,No,State Children's Health Insurance Program,6/3/2015,NaN
45179,401495,No,State Health Insurance for Adults,6/3/2015,NaN
45180,401495,No,Veteran's Administration (VA) Medical Services,6/3/2015,NaN
45181,401495,Yes,Private Pay Health Insurance,6/3/2015,NaN

In [177]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=HIEntry2.columns)
clientID = set(HIEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = HIEntry2[HIEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["HIcoveredEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
HIEntry2 = temp

In [138]:
#Health Insurance Exit data
HIExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_EXIT_191102.tsv", sep='\t')

In [139]:
# Check the original column names and change to neater version
for col in HIExit.columns: 
    print(col) 
    
HIExit.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit', 'recordsetid', 'provider','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Exit)
Health Insurance Type (Exit)
Health Insurance Start Date (Exit)
Health Insurance End Date (Exit)
Recordset ID (4307-recordset_id)
Provider (4307-provider)
Date Added (4307-date_added)

In [140]:
# Filter the variables of interest
HIExit2 = HIExit[['ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit']]

In [178]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=HIExit2.columns)
clientID = set(HIExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = HIExit2[HIExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["HIcoveredExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
HIExit2 = temp

# Disability Data

In [141]:
# Disability Entry data
DisEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_ENTRY_191102.tsv", sep='\t')

In [142]:
# Check the original column names and change to neater version
for col in DisEntry.columns: 
    print(col) 
    
DisEntry.columns = ['provider','EUID','CUID', 'ClientID','DisabilityEntry', 'DisabilityTypeEntry', 'DisabilityStartDateEntry','DisabilityEndDateEntry', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Entry)
Disability Type (Entry)
Disability Start Date (Entry)
Disability End Date (Entry)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [181]:
DisEntry2 = DisEntry[['ClientID','DisabilityEntry','DisabilityStartDateEntry','DisabilityEndDateEntry']]
DisEntry2.head()

   ClientID DisabilityEntry DisabilityStartDateEntry DisabilityEndDateEntry
0    397941        No (HUD)                4/20/2015                    NaN
1    397941        No (HUD)                4/20/2015                    NaN
2    397941        No (HUD)                4/20/2015                    NaN
3    397941        No (HUD)                4/20/2015                    NaN
4    397941        No (HUD)                4/20/2015                    NaN

In [182]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=DisEntry2.columns)
clientID = set(DisEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = DisEntry2[DisEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["DisabilityEntry"] == "Yes (HUD)")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
DisEntry2 = temp

In [144]:
# Disability Entry data
DisExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_EXIT_191102.tsv", sep='\t')

In [145]:
# Check the original column names and change to neater version
for col in DisExit.columns: 
    print(col) 
    
DisExit.columns = ['provider','EUID','CUID', 'ClientID','DisabilityExit', 'DisabilityTypeExit', 'DisabilityStartDateExit','DisabilityEndDateExit', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Exit)
Disability Type (Exit)
Disability Start Date (Exit)
Disability End Date (Exit)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [146]:
DisExit2 = DisExit[['ClientID','DisabilityExit','DisabilityStartDateExit','DisabilityEndDateExit']]

In [185]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=DisExit2.columns)
clientID = set(DisExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = DisExit2[DisExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["DisabilityExit"] == "Yes (HUD)")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
DisExit2 = temp

# Merge Datasets

In [186]:
final_dat = client2.merge(incomeEntry2, on=['ClientID'], how='left')

In [187]:
final_dat = final_dat.merge(incomeExit2, on=['ClientID'], how='left')

In [188]:
final_dat = final_dat.merge(HIEntry2, on=['ClientID'], how='left')

KeyboardInterrupt:

In [ ]:
final_dat = final_dat.merge(HIExit2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(DisEntry2, on=['ClientID'], how='left')

In [ ]:
final_dat = final_dat.merge(DisExit2, on=['ClientID'], how='left')

In [ ]:
final_dat.to_csv("../data/final") # Save final data for visualization and statistical analysis in R

In [ ]:
client2.to_csv("../data/client2.csv")
incomeEntry2.to_csv("../data/incomeEntry2.csv")
incomeExit2.to_csv("../data/incomeExit2.csv")
HIEntry2.to_csv("../data/HIEntry2.csv")
HIExit2.to_csv("../data/HIExit2.csv")
DisEntry2.to_csv("../data/DisEntry2.csv")
DisExit2.to_csv("../data/DisExit2.csv")