In [104]:
# Import packages 
import numpy as np
import pandas as pd
import sys
import math

# Demographics of Clients at UMD

In [105]:
client = pd.read_csv("../data/CLIENT_191102.tsv", sep="\t")
client.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [106]:
# Check the original column names and change to neater version
for col in client.columns: 
    print(col) 
    
client.columns = ['provider','EUID','CUID', 'ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']

EE Provider ID
EE UID
Client Unique ID
Client ID
Client Age at Entry
Client Age at Exit
Client Gender
Client Primary Race
Client Ethnicity
Client Veteran Status

In [107]:
# Filter the variables of interest
client2 = client[['ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']]

In [108]:
# Checking Missingness
## Generate the number of missing values in the demographic variables
nullvals =  ["" for x in range(len(client2.columns))]
nullvals = pd.DataFrame(nullvals).T
nullvals.columns = client2.columns

for col in client2.columns:
    nullval = client2[col].isnull()
    nullvals[col] = sum(nullval)
    
print(nullvals)

   ClientID  AgeEntry  AgeExit  Gender  Race  Ethnicity  Veteran
0         0         3        3       3     3          3       10

In [109]:
client2 = client2.dropna()

In [110]:
# function for unique values
def unique(list1): 
      
    # insert the list to the set 
    list_set = set(list1) 
    # convert the set to the list 
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print(x)

In [111]:
# unique values of categorical variables
cat = ['Gender', 'Race', 'Ethnicity', 'Veteran']

unique(client2[cat[0]])
print()
unique(client2[cat[1]])
print()
unique(client2[cat[2]])
print()
unique(client2[cat[3]])

#for col in cat:
#    ls = list(unique(client2[col]))
#    unqlist.append(ls)

Trans Female (MTF or Male to Female)
Male
Female

Native Hawaiian or Other Pacific Islander (HUD)
Black or African American (HUD)
White (HUD)
Asian (HUD)
American Indian or Alaska Native (HUD)
Client doesn't know (HUD)
Client refused (HUD)
Data not collected (HUD)

Hispanic/Latino (HUD)
Non-Hispanic/Non-Latino (HUD)
Client doesn't know (HUD)
Client refused (HUD)
Data not collected (HUD)

No (HUD)
Yes (HUD)
Data not collected (HUD)

### 1. Age Demographics (Entry)

In [112]:
round(client2.AgeEntry.mean(),1) # average entry age

44.2

In [113]:
client2.AgeEntry.min() # minimum entry age

18.0

In [114]:
client2.AgeEntry.median() # median entry age

46.0

In [115]:
client2.AgeEntry.max() # maximum entry age

81.0

In [116]:
round(client2.AgeEntry.std(),1) # standard deviation of entry age

12.8

### 2. Age Demographics (Exit)

In [117]:
round(client2.AgeExit.mean(),1) # average entry age

44.4

In [118]:
client2.AgeExit.min() # minimum exit age

18.0

In [119]:
client2.AgeExit.max() # minimum exit age

81.0

In [120]:
round(client2.AgeExit.std(),1) # standard deviation of exit age

12.8

### 3. Gender Demographics

In [121]:
client2['Gender'].value_counts()

Male                                    3981
Female                                  1288
Trans Female (MTF or Male to Female)      17
Name: Gender, dtype: int64

### 4. Race Demographics

In [122]:
client2['Race'].value_counts()

Black or African American (HUD)                    3856
White (HUD)                                        1311
American Indian or Alaska Native (HUD)               90
Native Hawaiian or Other Pacific Islander (HUD)      11
Data not collected (HUD)                              6
Client refused (HUD)                                  5
Client doesn't know (HUD)                             4
Asian (HUD)                                           3
Name: Race, dtype: int64

### 5. Ethnicity Demographics

In [123]:
client2['Ethnicity'].value_counts()

Non-Hispanic/Non-Latino (HUD)    5065
Hispanic/Latino (HUD)             191
Data not collected (HUD)           13
Client doesn't know (HUD)           9
Client refused (HUD)                8
Name: Ethnicity, dtype: int64

### 6. Veteran Demographics

In [124]:
client2["Veteran"].value_counts()

No (HUD)                    4721
Yes (HUD)                    558
Data not collected (HUD)       7
Name: Veteran, dtype: int64

In [125]:
for col in ['Race','Ethnicity',"Veteran"]:
    client2[col] = client2[col].apply(lambda x: x.replace(" (HUD)",""))

# Income Dataset

In [126]:
incomeEntry = pd.read_csv("../data/INCOME_ENTRY_191102.tsv", sep='\t')

In [127]:
# Check the original column names and change to neater version
for col in incomeEntry.columns: 
    print(col) 
    
incomeEntry.columns = ['provider','EUID','CUID', 'ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry','IncomeEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Income (Entry)
Income Source (Entry)
Monthly Amount (Entry)
Income Start Date (Entry)
Income End Date (Entry)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [128]:
# Filter the variables of interest
incomeEntry2 = incomeEntry[['ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry', 'IncomeEndDateEntry']]
incomeEntry2.head()

,ClientID,IncomeEntry,IncomeSourceEntry,MonthlyIncomeEntry,IncomeStartDateEntry,IncomeEndDateEntry
0,397941,No,Alimony or Other Spousal Support (HUD),NaN,4/20/2015,NaN
1,397941,No,Child Support (HUD),NaN,4/20/2015,NaN
2,397941,No,Earned Income (HUD),NaN,4/20/2015,NaN
3,397941,No,General Assistance (HUD),NaN,4/20/2015,NaN
4,397941,No,Other (HUD),NaN,4/20/2015,NaN

In [129]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeEntry2.columns)
clientID = set(incomeEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeEntry2[incomeEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeEntry2 = temp

In [130]:
incomeEntry2_noindex = incomeEntry2[incomeEntry2.columns.difference(['index'])]
incomeEntry2_unq = incomeEntry2_noindex.drop_duplicates()
incomeEntry2 = incomeEntry2_unq

In [131]:
# Income Exit
incomeExit = pd.read_csv("../data/INCOME_EXIT_191102.tsv", sep='\t')

In [132]:
# Check the original column names and change to neater version
for col in incomeExit.columns: 
    print(col) 
    
incomeExit.columns = ['provider','EUID','CUID', 'ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit','IncomeEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
ReceivingIncome (Exit)
Source of Income (Exit)
Monthly Amount (Exit)
Income Start Date (Exit)
Income End Date (Exit)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [133]:
# Filter the variables of interest
incomeExit2 = incomeExit[['ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit', 'IncomeEndDateExit']]

In [134]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeExit2.columns)
clientID = set(incomeExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeExit2[incomeExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeExit2 = temp

In [135]:
incomeExit2_noindex = incomeExit2[incomeExit2.columns.difference(['Index','index'])]
incomeExit2_unq = incomeExit2_noindex.drop_duplicates()
incomeExit2 = incomeExit2_unq

# Noncash Dataset

In [136]:
noncashEntry = pd.read_csv("../data/NONCASH_ENTRY_191102.tsv", sep='\t')

In [137]:
# Check the original column names and change to neater version
for col in noncashEntry.columns: 
    print(col) 
    
noncashEntry.columns = ['provider','EUID','CUID', 'ClientID','ReceivingBenefitEntry','NoncashSourceEntry','NoncashStartDateEntry','NoncashEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Benefit (Entry)
Non-Cash Source (Entry)
Non-Cash Start Date (Entry)
Non-Cash End Date (Entry)
Recordset ID (2704-recordset_id)
Provider (2704-provider)
Date Added (2704-date_added)

In [138]:
# Filter the variables of interest
noncashEntry2 = noncashEntry[['ClientID','ReceivingBenefitEntry','NoncashSourceEntry','NoncashStartDateEntry', 'NoncashEndDateEntry']]
noncashEntry2.head()

,ClientID,ReceivingBenefitEntry,NoncashSourceEntry,NoncashStartDateEntry,NoncashEndDateEntry
0,397941,No,Other Source (HUD),4/20/2015,NaN
1,397941,No,Other TANF-Funded Services (HUD),4/20/2015,NaN
2,397941,No,"Section 8, Public Housing, or other ongoing re...",4/20/2015,NaN
3,397941,No,Special Supplemental Nutrition Program for WIC...,4/20/2015,NaN
4,397941,No,TANF Child Care Services (HUD),4/20/2015,NaN

In [139]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=noncashEntry2.columns)
clientID = set(noncashEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = noncashEntry2[noncashEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["ReceivingBenefitEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
noncashEntry2 = temp

In [143]:
noncashEntry2_noindex = noncashEntry2[noncashEntry2.columns.difference(['index'])]
noncashEntry2_unq = noncashEntry2_noindex.drop_duplicates()
noncashEntry2 = noncashEntry2_unq

In [146]:
# Non-cash Exit
noncashExit = pd.read_csv("../data/NONCASH_EXIT_191102.tsv", sep='\t')

In [147]:
# Check the original column names and change to neater version
for col in noncashExit.columns: 
    print(col) 
    
noncashExit.columns = ['provider','EUID','CUID', 'ClientID','ReceivingBenefitExit','NoncashSourceExit','NoncashStartDateExit','NoncashEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider
EE UID
Client Unique ID
Client ID
Receiving Benefit (Exit)
Non-Cash Source (Exit)
Non-Cash Start Date (Exit)
Non-Cash End Date (Exit)
Recordset ID (2704-recordset_id)
Provider (2704-provider)
Date Added (2704-date_added)

In [95]:
# Filter the variables of interest
noncashExit2 = noncashExit[['ClientID','ReceivingBenefitExit','NoncashSourceExit','NoncashStartDateExit','NoncashEndDateExit']]

In [96]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=noncashExit2.columns)
clientID = set(noncashExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = noncashExit2[noncashExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["ReceivingBenefitExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
noncashExit2 = temp

In [103]:
noncashExit2_noindex = noncashExit2[noncashExit2.columns.difference(['index'])]
noncashExit2_unq = noncashExit2_noindex.drop_duplicates()
noncashExit2 = noncashExit2_unq

,ClientID,NoncashEndDateExit,NoncashSourceExit,NoncashSourceExit,NoncashSourceExit,ReceivingBenefitExit
0,172032,9/1/2016,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
2,172032,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
8,172046,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
10,368693,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
15,401497,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
17,385113,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
18,335968,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
21,426087,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
22,286837,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
24,196740,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
27,360593,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
30,295069,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
31,180383,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
38,450723,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
41,450718,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
48,458923,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
49,467119,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
50,385243,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
51,401630,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
58,303331,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
62,123122,10/7/2018,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
71,123122,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
74,393476,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
75,377103,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
77,123153,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
81,459027,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
82,16664,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
83,139570,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
84,426300,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
87,426301,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
...,...,...,...,...,...,...
1725,294561,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1727,474791,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1728,147114,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1729,106155,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1733,229066,12/31/2017,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1735,425704,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1736,442103,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1737,196342,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1738,425738,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1739,188182,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1740,130847,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1741,360237,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1758,491343,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1759,311126,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1761,130920,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1765,507760,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1766,417655,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1767,417656,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1774,139131,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1777,450442,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1778,393112,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1779,8104,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1780,163753,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1781,360364,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1782,311220,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1784,163802,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1785,188395,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1786,491501,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1787,417779,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes
1789,417781,NaN,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Supplemental Nutrition Assistance Program (Foo...,Yes

# Entry and Exit dates

In [383]:
EEdate = pd.read_csv("../data/ENTRY_EXIT_191102.tsv", sep='\t')

In [386]:
# Check the original column names and change to neater version
for col in EEdate.columns: 
    print(col) 
    
EEdate.columns = ['provider','EUID','CUID', 'ClientID','EEgroupID', 'EEhouseholdID', 'unnamed6','EntryDate', 'moveindate','ExitDate','Destination', 'ReasonforLeaving', 'EEtype',"EEadded",'EEupdatedDate']

provider
EUID
CUID
ClientID
EEgroupID
EEhouseholdID
unnamed6
EntryDate
moveindate
ExitDate
Destination
ReasonforLeaving
EEtype
EEadded
EEupdatedDate

,provider,EUID,CUID,ClientID,EEgroupID,EEhouseholdID,unnamed6,EntryDate,moveindate,ExitDate,Destination,ReasonforLeaving,EEtype,EEadded,EEupdatedDate
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,NaN,NaN,NaN,8/15/2015,4/20/2015,7/11/2016,"Rental by client, with other ongoing housing s...",Completed program,HUD,8/19/2015,7/20/2016
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,NaN,NaN,NaN,8/15/2015,NaN,8/31/2015,Data not collected (HUD),Needs could not be met,HUD,8/19/2015,9/3/2015
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,NaN,NaN,NaN,8/15/2015,NaN,9/19/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,9/22/2015
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,NaN,NaN,NaN,8/15/2015,NaN,3/7/2016,Hospital or other residential non-psychiatric ...,Other,HUD,8/19/2015,3/8/2016
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,NaN,NaN,NaN,8/15/2015,NaN,8/24/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,8/25/2015

In [387]:
EEdate2 = EEdate[['ClientID','EntryDate','moveindate','ExitDate','ReasonforLeaving']]

# Merge Datasets

In [372]:
final_dat = client2.merge(incomeEntry2, on=['ClientID'], how='left')

In [373]:
final_dat = final_dat.merge(incomeExit2, on=['ClientID'], how='left')

In [374]:
final_dat = final_dat.merge(noncashEntry2, on=['ClientID'], how='left')

In [375]:
final_dat = final_dat.merge(noncashExit2, on=['ClientID'], how='left')

In [389]:
final_dat = final_dat.merge(EEdate2, on=['ClientID'], how='left')

In [390]:
final_dat.to_csv("../data/final.csv") # Save final data for visualization and statistical analysis in R

In [381]:
# Save individual files
# client2.to_csv("../data/client2.csv")
# incomeEntry2.to_csv("../data/incomeEntry2.csv")
# incomeExit2.to_csv("../data/incomeExit2.csv")
# HIEntry2.to_csv("../data/HIEntry2.csv")
# HIExit2.to_csv("../data/HIExit2.csv")
# DisEntry2.to_csv("../data/DisEntry2.csv")
# DisExit2.to_csv("../data/DisExit2.csv")