In [310]:
# Import packages 
import numpy as np
import pandas as pd
import sys
import math

# Demographics of Clients at UMD

In [311]:
client = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/CLIENT_191102.tsv", sep="\t")
client.head()

,EE Provider ID,EE UID,Client Unique ID,Client ID,Client Age at Entry,Client Age at Exit,Client Gender,Client Primary Race,Client Ethnicity,Client Veteran Status
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,60.0,61.0,Female,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,48.0,48.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,42.0,42.0,Female,Black or African American (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,57.0,57.0,Male,White (HUD),Hispanic/Latino (HUD),No (HUD)
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,51.0,51.0,Male,White (HUD),Non-Hispanic/Non-Latino (HUD),No (HUD)

In [312]:
# Check the original column names and change to neater version
for col in client.columns: 
    print(col) 
    
client.columns = ['provider','EUID','CUID', 'ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']

EE Provider ID
EE UID
Client Unique ID
Client ID
Client Age at Entry
Client Age at Exit
Client Gender
Client Primary Race
Client Ethnicity
Client Veteran Status

In [313]:
# Filter the variables of interest
client2 = client[['ClientID','AgeEntry','AgeExit','Gender','Race','Ethnicity','Veteran']]

In [314]:
# Checking Missingness
## Generate the number of missing values in the demographic variables
nullvals =  ["" for x in range(len(client2.columns))]
nullvals = pd.DataFrame(nullvals).T
nullvals.columns = client2.columns

for col in client2.columns:
    nullval = client2[col].isnull()
    nullvals[col] = sum(nullval)
    
print(nullvals)

   ClientID  AgeEntry  AgeExit  Gender  Race  Ethnicity  Veteran
0         0         3        3       3     3          3       10

In [315]:
client2 = client2.dropna()

In [316]:
# function for unique values
def unique(list1): 
      
    # insert the list to the set 
    list_set = set(list1) 
    # convert the set to the list 
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print(x)

In [317]:
# unique values of categorical variables
cat = ['Gender', 'Race', 'Ethnicity', 'Veteran']

unique(client2[cat[0]])
print()
unique(client2[cat[1]])
print()
unique(client2[cat[2]])
print()
unique(client2[cat[3]])

#for col in cat:
#    ls = list(unique(client2[col]))
#    unqlist.append(ls)

Trans Female (MTF or Male to Female)
Female
Male

Client doesn't know (HUD)
Client refused (HUD)
White (HUD)
Native Hawaiian or Other Pacific Islander (HUD)
American Indian or Alaska Native (HUD)
Data not collected (HUD)
Asian (HUD)
Black or African American (HUD)

Client doesn't know (HUD)
Client refused (HUD)
Non-Hispanic/Non-Latino (HUD)
Data not collected (HUD)
Hispanic/Latino (HUD)

No (HUD)
Data not collected (HUD)
Yes (HUD)

### 1. Age Demographics (Entry)

In [318]:
round(client2.AgeEntry.mean(),1) # average entry age

44.2

In [319]:
client2.AgeEntry.min() # minimum entry age

18.0

In [320]:
client2.AgeEntry.median() # median entry age

46.0

In [321]:
client2.AgeEntry.max() # maximum entry age

81.0

In [322]:
round(client2.AgeEntry.std(),1) # standard deviation of entry age

12.8

### 2. Age Demographics (Exit)

In [323]:
round(client2.AgeExit.mean(),1) # average entry age

44.4

In [324]:
client2.AgeExit.min() # minimum exit age

18.0

In [325]:
client2.AgeExit.max() # minimum exit age

81.0

In [326]:
round(client2.AgeExit.std(),1) # standard deviation of exit age

12.8

### 3. Gender Demographics

In [327]:
client2['Gender'].value_counts()

Male                                    3981
Female                                  1288
Trans Female (MTF or Male to Female)      17
Name: Gender, dtype: int64

### 4. Race Demographics

In [328]:
client2['Race'].value_counts()

Black or African American (HUD)                    3856
White (HUD)                                        1311
American Indian or Alaska Native (HUD)               90
Native Hawaiian or Other Pacific Islander (HUD)      11
Data not collected (HUD)                              6
Client refused (HUD)                                  5
Client doesn't know (HUD)                             4
Asian (HUD)                                           3
Name: Race, dtype: int64

### 5. Ethnicity Demographics

In [329]:
client2['Ethnicity'].value_counts()

Non-Hispanic/Non-Latino (HUD)    5065
Hispanic/Latino (HUD)             191
Data not collected (HUD)           13
Client doesn't know (HUD)           9
Client refused (HUD)                8
Name: Ethnicity, dtype: int64

### 6. Veteran Demographics

In [330]:
client2["Veteran"].value_counts()

No (HUD)                    4721
Yes (HUD)                    558
Data not collected (HUD)       7
Name: Veteran, dtype: int64

In [331]:
for col in ['Race','Ethnicity',"Veteran"]:
    client2[col] = client2[col].apply(lambda x: x.replace(" (HUD)",""))

# Income Dataset

In [332]:
incomeEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_ENTRY_191102.tsv", sep='\t')

In [333]:
# Check the original column names and change to neater version
for col in incomeEntry.columns: 
    print(col) 
    
incomeEntry.columns = ['provider','EUID','CUID', 'ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry','IncomeEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Income (Entry)
Income Source (Entry)
Monthly Amount (Entry)
Income Start Date (Entry)
Income End Date (Entry)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [334]:
# Filter the variables of interest
incomeEntry2 = incomeEntry[['ClientID','IncomeEntry','IncomeSourceEntry','MonthlyIncomeEntry','IncomeStartDateEntry', 'IncomeEndDateEntry']]
incomeEntry2.head()

,ClientID,IncomeEntry,IncomeSourceEntry,MonthlyIncomeEntry,IncomeStartDateEntry,IncomeEndDateEntry
0,397941,No,Alimony or Other Spousal Support (HUD),NaN,4/20/2015,NaN
1,397941,No,Child Support (HUD),NaN,4/20/2015,NaN
2,397941,No,Earned Income (HUD),NaN,4/20/2015,NaN
3,397941,No,General Assistance (HUD),NaN,4/20/2015,NaN
4,397941,No,Other (HUD),NaN,4/20/2015,NaN

In [335]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeEntry2.columns)
clientID = set(incomeEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeEntry2[incomeEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeEntry2 = temp

In [336]:
incomeEntry2_noindex = incomeEntry2[incomeEntry2.columns.difference(['index'])]
incomeEntry2_unq = incomeEntry2_noindex.drop_duplicates()
incomeEntry2 = incomeEntry2_unq

In [337]:
# Income Exit
incomeExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/INCOME_EXIT_191102.tsv", sep='\t')

In [338]:
# Check the original column names and change to neater version
for col in incomeExit.columns: 
    print(col) 
    
incomeExit.columns = ['provider','EUID','CUID', 'ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit','IncomeEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
ReceivingIncome (Exit)
Source of Income (Exit)
Monthly Amount (Exit)
Income Start Date (Exit)
Income End Date (Exit)
Recordset ID (140-recordset_id)
Provider (140-provider)
Date Added (140-date_added)

In [339]:
# Filter the variables of interest
incomeExit2 = incomeExit[['ClientID','IncomeExit','IncomeSourceExit','MonthlyIncomeExit','IncomeStartDateExit', 'IncomeEndDateExit']]

In [340]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=incomeExit2.columns)
clientID = set(incomeExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = incomeExit2[incomeExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["IncomeExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
incomeExit2 = temp

In [341]:
incomeExit2_noindex = incomeExit2[incomeExit2.columns.difference(['Index','index'])]
incomeExit2_unq = incomeExit2_noindex.drop_duplicates()
incomeExit2 = incomeExit2_unq

# Noncash Dataset

In [342]:
noncashEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/NONCASH_ENTRY_191102.tsv", sep='\t')

In [343]:
# Check the original column names and change to neater version
for col in noncashEntry.columns: 
    print(col) 
    
noncashEntry.columns = ['provider','EUID','CUID', 'ClientID','ReceivingBenefitEntry','NoncashSourceEntry','NoncashStartDateEntry','NoncashEndDateEntry','recordsetID','ProviderID','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Receiving Benefit (Entry)
Non-Cash Source (Entry)
Non-Cash Start Date (Entry)
Non-Cash End Date (Entry)
Recordset ID (2704-recordset_id)
Provider (2704-provider)
Date Added (2704-date_added)

In [344]:
# Filter the variables of interest
noncashEntry2 = noncashEntry[['ClientID','ReceivingBenefitEntry','NoncashSourceEntry','NoncashStartDateEntry', 'NoncashEndDateEntry']]
noncashEntry2.head()

,ClientID,ReceivingBenefitEntry,NoncashSourceEntry,NoncashStartDateEntry,NoncashEndDateEntry
0,397941,No,Other Source (HUD),4/20/2015,NaN
1,397941,No,Other TANF-Funded Services (HUD),4/20/2015,NaN
2,397941,No,"Section 8, Public Housing, or other ongoing re...",4/20/2015,NaN
3,397941,No,Special Supplemental Nutrition Program for WIC...,4/20/2015,NaN
4,397941,No,TANF Child Care Services (HUD),4/20/2015,NaN

In [345]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=noncashEntry2.columns)
clientID = set(noncashEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = noncashEntry2[noncashEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["ReceivingBenefitEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
noncashEntry2 = temp

In [346]:
noncashEntry2_noindex = noncashEntry2[noncashEntry2.columns.difference(['index'])]
noncashEntry2_unq = noncashEntry2_noindex.drop_duplicates()
noncashEntry2 = noncashEntry2_unq

In [347]:
# Non-cash Exit
noncashExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/NONCASH_EXIT_191102.tsv", sep='\t')

In [348]:
# Check the original column names and change to neater version
for col in noncashExit.columns: 
    print(col) 
    
noncashExit.columns = ['provider','EUID','CUID', 'ClientID','ReceivingBenefitExit','NoncashSourceExit','c','NoncashEndDateExit','recordsetID','ProviderID','dateadded']

EE Provider
EE UID
Client Unique ID
Client ID
Receiving Benefit (Exit)
Non-Cash Source (Exit)
Non-Cash Start Date (Exit)
Non-Cash End Date (Exit)
Recordset ID (2704-recordset_id)
Provider (2704-provider)
Date Added (2704-date_added)

In [349]:
# Filter the variables of interest
noncashExit2 = noncashExit[['ClientID','ReceivingBenefitExit','NoncashSourceExit','NoncashSourceExit','NoncashSourceExit', 'NoncashEndDateExit']]

In [350]:
# Filter out the rows with incomes
temp = pd.DataFrame(columns=noncashExit2.columns)
clientID = set(noncashExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = noncashExit2[noncashExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["ReceivingBenefitExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
noncashExit2 = temp

In [351]:
noncashExit2_noindex = noncashExit2[noncashExit2.columns.difference(['Index','index'])]
noncashExit2_unq = noncashExit2_noindex.drop_duplicates()
noncashExit2 = noncashExit2_unq

# Health Insurance Data

In [352]:
# Health Insurnace Entry data
HIEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_ENTRY_191102.tsv", sep='\t')

In [353]:
# Check the original column names and change to neater version
for col in HIEntry.columns: 
    print(col) 
    
HIEntry.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry','provider', 'recordsetid', 'dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Entry)
Health Insurance Type (Entry)
Health Insurance Start Date (Entry)
Health Insurance End Date (Entry)
Provider (4307-provider)
Recordset ID (4307-recordset_id)
Date Added (4307-date_added)

In [354]:
# Filter the variables of interest
HIEntry2 = HIEntry[['ClientID','HIcoveredEntry','HItypeEntry','HIstartDateEntry','HIendDateEntry']]

In [355]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=HIEntry2.columns)
clientID = set(HIEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = HIEntry2[HIEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["HIcoveredEntry"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
HIEntry2 = temp

In [356]:
HIEntry2_noindex = HIEntry2[HIEntry2.columns.difference(['Index','index'])]
HIEntry2_unq = HIEntry2_noindex.drop_duplicates()
HIEntry2 = HIEntry2_unq

In [357]:
#Health Insurance Exit data
HIExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/HEALTH_INS_EXIT_191102.tsv", sep='\t')

In [358]:
# Check the original column names and change to neater version
for col in HIExit.columns: 
    print(col) 
    
HIExit.columns = ['provider','EUID','CUID', 'ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit', 'recordsetid', 'provider','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Covered (Exit)
Health Insurance Type (Exit)
Health Insurance Start Date (Exit)
Health Insurance End Date (Exit)
Recordset ID (4307-recordset_id)
Provider (4307-provider)
Date Added (4307-date_added)

In [359]:
# Filter the variables of interest
HIExit2 = HIExit[['ClientID','HIcoveredExit','HItypeExit','HIstartDateExit','HIendDateExit']]

In [360]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=HIExit2.columns)
clientID = set(HIExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = HIExit2[HIExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["HIcoveredExit"] == "Yes")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
HIExit2 = temp

In [361]:
HIExit2_noindex = HIExit2[HIExit2.columns.difference(['Index','index'])]
HIExit2_unq = HIExit2_noindex.drop_duplicates()
HIExit2 = HIExit2_unq

# Disability Data

In [362]:
# Disability Entry data
DisEntry = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_ENTRY_191102.tsv", sep='\t')

In [363]:
# Check the original column names and change to neater version
for col in DisEntry.columns: 
    print(col) 
    
DisEntry.columns = ['provider','EUID','CUID', 'ClientID','DisabilityEntry', 'DisabilityTypeEntry', 'DisabilityStartDateEntry','DisabilityEndDateEntry', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Entry)
Disability Type (Entry)
Disability Start Date (Entry)
Disability End Date (Entry)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [364]:
DisEntry2 = DisEntry[['ClientID','DisabilityEntry','DisabilityStartDateEntry','DisabilityEndDateEntry']]
DisEntry2.head()

   ClientID DisabilityEntry DisabilityStartDateEntry DisabilityEndDateEntry
0    397941        No (HUD)                4/20/2015                    NaN
1    397941        No (HUD)                4/20/2015                    NaN
2    397941        No (HUD)                4/20/2015                    NaN
3    397941        No (HUD)                4/20/2015                    NaN
4    397941        No (HUD)                4/20/2015                    NaN

In [365]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=DisEntry2.columns)
clientID = set(DisEntry2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = DisEntry2[DisEntry2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["DisabilityEntry"] == "Yes (HUD)")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
DisEntry2 = temp

In [366]:
DisEntry2_noindex = DisEntry2[DisEntry2.columns.difference(['Index','index'])]
DisEntry2_unq = DisEntry2_noindex.drop_duplicates()
DisEntry2 = DisEntry2_unq

In [367]:
# Disability Entry data
DisExit = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/DISABILITY_EXIT_191102.tsv", sep='\t')

In [368]:
# Check the original column names and change to neater version
for col in DisExit.columns: 
    print(col) 
    
DisExit.columns = ['provider','EUID','CUID', 'ClientID','DisabilityExit', 'DisabilityTypeExit', 'DisabilityStartDateExit','DisabilityEndDateExit', 'provider','recordsetid','dateadded']

EE Provider ID
EE UID
Client Unique ID
Client ID
Disability Determination (Exit)
Disability Type (Exit)
Disability Start Date (Exit)
Disability End Date (Exit)
Provider (417-provider)
Recordset ID (417-recordset_id)
Date Added (417-date_added)

In [369]:
DisExit2 = DisExit[['ClientID','DisabilityExit','DisabilityStartDateExit','DisabilityEndDateExit']]

In [370]:
# Filter out the rows with health insurance
temp = pd.DataFrame(columns=DisExit2.columns)
clientID = set(DisExit2.ClientID)
clientID = [*clientID, ] 

for id in clientID:
    subdat = DisExit2[DisExit2.ClientID==id]
    subdat = pd.DataFrame(subdat)
    select_indices = list(np.where(subdat["DisabilityExit"] == "Yes (HUD)")[0])
    if len(select_indices)>0:
        temp = temp.append(subdat.iloc[select_indices])
        
temp = temp.reset_index()
DisExit2 = temp

In [371]:
DisExit2_noindex = DisExit2[DisExit2.columns.difference(['Index','index'])]
DisExit2_unq = DisExit2_noindex.drop_duplicates()
DisExit2 = DisExit2_unq

# Entry and Exit dates

In [383]:
EEdate = pd.read_csv("/Users/jieun/github_updated/bios611-projects-fall-2019-jennprk/project_3/data/ENTRY_EXIT_191102.tsv", sep='\t')

In [386]:
# Check the original column names and change to neater version
for col in EEdate.columns: 
    print(col) 
    
EEdate.columns = ['provider','EUID','CUID', 'ClientID','EEgroupID', 'EEhouseholdID', 'unnamed6','EntryDate', 'moveindate','ExitDate','Destination', 'ReasonforLeaving', 'EEtype',"EEadded",'EEupdatedDate']

provider
EUID
CUID
ClientID
EEgroupID
EEhouseholdID
unnamed6
EntryDate
moveindate
ExitDate
Destination
ReasonforLeaving
EEtype
EEadded
EEupdatedDate

,provider,EUID,CUID,ClientID,EEgroupID,EEhouseholdID,unnamed6,EntryDate,moveindate,ExitDate,Destination,ReasonforLeaving,EEtype,EEadded,EEupdatedDate
0,Urban Ministries of Durham - Durham County - S...,687901,pbkf09291954p610b236,397941,NaN,NaN,NaN,8/15/2015,4/20/2015,7/11/2016,"Rental by client, with other ongoing housing s...",Completed program,HUD,8/19/2015,7/20/2016
1,Urban Ministries of Durham - Durham County - S...,687902,kdaf01071967k400d635,130335,NaN,NaN,NaN,8/15/2015,NaN,8/31/2015,Data not collected (HUD),Needs could not be met,HUD,8/19/2015,9/3/2015
2,Urban Ministries of Durham - Durham County - S...,687903,smrf06211973s620m640,188933,NaN,NaN,NaN,8/15/2015,NaN,9/19/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,9/22/2015
3,Urban Ministries of Durham - Durham County - S...,687904,abrm07251958a416b600,168290,NaN,NaN,NaN,8/15/2015,NaN,3/7/2016,Hospital or other residential non-psychiatric ...,Other,HUD,8/19/2015,3/8/2016
4,Urban Ministries of Durham - Durham County - S...,687905,wbom01251964w450b620,123122,NaN,NaN,NaN,8/15/2015,NaN,8/24/2015,"Staying or living with friends, temporary tenu...",Other,HUD,8/19/2015,8/25/2015

In [387]:
EEdate2 = EEdate[['ClientID','EntryDate','moveindate','ExitDate','ReasonforLeaving']]

# Merge Datasets

In [372]:
final_dat = client2.merge(incomeEntry2, on=['ClientID'], how='left')

In [373]:
final_dat = final_dat.merge(incomeExit2, on=['ClientID'], how='left')

In [374]:
final_dat = final_dat.merge(noncashEntry2, on=['ClientID'], how='left')

In [375]:
final_dat = final_dat.merge(noncashExit2, on=['ClientID'], how='left')

In [376]:
final_dat = final_dat.merge(HIEntry2, on=['ClientID'], how='left')

In [377]:
final_dat = final_dat.merge(HIExit2, on=['ClientID'], how='left')

In [378]:
final_dat = final_dat.merge(DisEntry2, on=['ClientID'], how='left')

In [379]:
final_dat = final_dat.merge(DisExit2, on=['ClientID'], how='left')

In [389]:
final_dat = final_dat.merge(EEdate2, on=['ClientID'], how='left')

In [390]:
final_dat.to_csv("../data/final.csv") # Save final data for visualization and statistical analysis in R

In [381]:
# Save individual files
# client2.to_csv("../data/client2.csv")
# incomeEntry2.to_csv("../data/incomeEntry2.csv")
# incomeExit2.to_csv("../data/incomeExit2.csv")
# HIEntry2.to_csv("../data/HIEntry2.csv")
# HIExit2.to_csv("../data/HIExit2.csv")
# DisEntry2.to_csv("../data/DisEntry2.csv")
# DisExit2.to_csv("../data/DisExit2.csv")